DATABASE_URL="postgresql://user:pass@host-pooler.region.aws.neon.tech/db?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:pass@host.region.aws.neon.tech/db?sslmode=require"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
ADMIN_EMAIL="adupont.jr@calvada.com"
CRON_SECRET="generate-a-long-random-string"
